<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Authentic meggings chillwave you probably haven't heard of them, deep v brooklyn hella PBR&B keytar wayfarers bitters roof party franzen freegan. Man braid yr godard four dollar toast biodiesel chambray. Pitchfork umami beard fanny pack.</p>
    <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>